.widget_currencyconverter_minimalistic-ver2 {
  .@{plugin_prefix}support-info-container {
    margin-top: 1em;
  }
}

.@{plugin_prefix}minimalistic-ver2-container {
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif !important;
  border: 1px solid rgba(0, 0, 0, .1);
}

.@{plugin_prefix}minimalistic-ver2-header {
  padding: 10px 11px 14px 11px;
}

.@{plugin_prefix}minimalistic-ver2-header-base-currency {
  font-size: 35px;
  line-height: 1;
  font-weight: 300;
  display: block;
}

.@{plugin_prefix}minimalistic-ver2-header-currency-caption {
  display: block;
  font-size: 12px;
  line-height: 1;
  margin-top: 7px;
}

.@{plugin_prefix}minimalistic-ver2-header-equal {
  display: block;
  margin: 0 -11px;
  padding: 0 11px;
  height: 0;
  line-height: 1;

  span {
    display: table-cell;

    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, .1);
  }
}

.@{plugin_prefix}minimalistic-ver2-single-currency {
  padding: 9px 11px 12px 11px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(0, 0, 0, .1);

  &:first-child {
    border-top: 0;
  }
}

.@{plugin_prefix}minimalistic-ver2-row {
  display: block;
}

.@{plugin_prefix}minimalistic-ver2-currency-price {
  font-size: 40px;
  line-height: 1;
  font-weight: 300;
}

.@{plugin_prefix}minimalistic-ver2-inline-list {
  display: block;
  margin-top: 6px;
  margin-right: -6px;
}

.@{plugin_prefix}minimalistic-ver2-inline-list-item {
  display: inline-block;
  margin-right: 6px;

  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}

.@{plugin_prefix} {

}