.currency-converter-minimalistic-widget-settings-palettes {
  margin: 0 -15px -15px 0;
  
  .color-grid {
    display: inline-block;
    overflow: hidden;
    border-radius: 4px;
    margin: 0 15px 15px 0;
    cursor: pointer;
  }

  .color-grid-gradient {
    background-color: #f3f3f3;
    color: #929292;
  }

  .currency-converter_minimalistic-container {
    display: block;
    width: 72px;
    max-width: 100%;
    height: 50px;
    padding: 6px 10px;
    border-radius: 4px;
  }
}