.currencyconverter-support-info-container {

}

.currencyconverter-update-data-link,
.currencyconverter-base-currency-link {
  &,
  &:focus,
  &:visited,
  &:hover,
  &:visited:hover {
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
    cursor: text !important;
  }
}
