.currency-converter-support-info-container {

}

.currency-converter-update-data-link {
  &,
  &:focus,
  &:visited,
  &:hover,
  &:visited:hover {
    color: inherit !important;
    text-decoration: none !important;
    border-bottom: 0 !important;
  }
}
